## Code is tested in Ubuntu environment. Although, it should work fine in any Linux environment
## without any change. Following dependencies may require different installation steps in 
## different environments.

#Following Stacks are required

rabbitmq

#https://www.rabbitmq.com/download.html

mongodb

# http://docs.mongodb.org/manual/administration/install-on-linux/


#Following Python modules are required

pika
pymongo

